.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/build/
/docs/api/
/website/build/
node_modules/

/examples/*/yarn.lock
/examples/*/dist
/tutorial/dist

# v5 build files
/packages/*/cjs/
/packages/*/esm/
/packages/*/umd/

.eslintcache
